@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: white;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Enlever la scrollbar moche */
::-webkit-scrollbar {
  display: none;
}